@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Unbounded:wght@400;700&display=swap');

@theme {

  --font-sans: "Poppins", sans-serif;
  --font-display: "Unbounded", sans-serif;
}